.lifetime {
    display: flex;
    scroll-behavior: auto;
}

.badges {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 50px;
    scroll-behavior: auto;
}

.mat-chip-list-wrapper {
    flex-wrap: nowrap !important;
    scroll-behavior: auto;
}

.badge {
    display: inline-block;
    height: 40px;
    scroll-behavior: auto;
}

.chip {
    height: 100px;
    scroll-behavior: auto;
}

