<div class="lifetime swiper-no-swiping badges" id="divbadges">
    <mat-chip-list class="chiplist" id="badgeslist">
        <app-lifetime-chip 
            #lifetimeChip
            class="badge" 
            *ngFor='let alternative of getAlternatives(); index as i' 
            [minutes]="alternative.minutes"
            [label]="alternative.label"
            [selected]="alternative.minutes == selectedMinutes"
            (select)="lifetimeSelected(alternative.minutes)"
            >
        </app-lifetime-chip>
    </mat-chip-list>
</div>