<div class="lifetime swiper-no-swiping badges" id="divbadges">
    <!-- <div class="badges"> -->
        <mat-chip-list class="chiplist" id="badgeslist">
            <div class="badge" *ngFor='let alternative of getAlternatives(); index as i'>
                <!-- <mat-chip id="lifetimechip-{{alternative.minutes}}" class="chip" color="primary" selected="{{i == currentIndex}}" (click)='scrollChip()'> -->
                <mat-chip id="lifetimechip-{{alternative.minutes}}" class="chip" color="primary" selected="{{i == currentIndex}}" (click)='select(i)'>
                {{alternative.label}}
                 </mat-chip>
            </div>
        </mat-chip-list>
    <!-- </div> -->
</div>

