    
    h2 {
        text-align: center;
    }

    .login-info {
        text-align: right;
        padding-right: 12px;
        vertical-align: middle;
    }
    
    .status-info {
        text-align: left;
        padding-left: 12px;
    }
    
    
    #footer {
        font-size: smaller;
        vertical-align: middle;
        position:absolute;
        bottom:0;
        width:100%;
        height:30px;   /* Height of the footer */
     }

     i {    
        vertical-align: middle;
        color: rgb(150, 150, 150);
        font-size: 20px;
        cursor: pointer;
        padding-bottom: 1px;
    }