<div>
    <h2>Send Magic Message</h2>
</div>

<div padding class="backdrop">

    <div *ngIf="!authenticated() && !triedToSignIn">
        <p>Authenticating...</p>
        {{tryToSignIn()}}
    </div>

    <div *ngIf="!authenticated() && triedToSignIn">
        <button mat-flat-button color='primary' (click)='login()'>
            Sign in
        </button>
    </div>


    <div *ngIf="authenticated() && haveScreens()">
        <swiper class="swiper-container" [config]="config" [index]="activeScreen"
            (indexChange)="onScreenChange($event)"
            (slideChangeTransitionEnd)="transitionEnd()">
            <div *ngFor="let screen of availableScreens; index as i" class="swiper-slide">
                <mat-card>
                    <screen #screenComponent *ngIf="screen" id="screen-{{i}}" [screenKey]="screen.key" [screenName]="screen.name">
                    </screen>
                </mat-card>
            </div>
        </swiper>
    </div>


    <div id="footer">
        <div *ngIf="authenticated() && searchingForScreens" class="status-info">
            <p>Searching for screens. Please wait...</p>
        </div>

        <div *ngIf="authenticated() && !searchingForScreens" class="login-info">
            <p>{{loginInfo}}</p>
        </div>
    </div>
</div>