    
    h2 {
        text-align: center;
    }

    .login-info {
        text-align: right;
        vertical-align: middle;
        font-size: smaller;
    }


    .card-md {
        box-shadow: none;
    }

    .content-md, .card-md {
        background: #cecece;
    }

    .hele {
        background: #cecece;
        margin: auto;
        width: 80%;
    }
    
